*{
    padding: 0px;
    top: 100%;
    box-sizing: border-box;
}
body {
    background-color: #4B0082;
    padding: 0px 10px;
    
}

.container {
    max-width: 500px;
    width:100%;
    margin:30px auto ;
    padding:30px;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.container .title{
    font-size:24px;
    font-weight: 700;
    margin-bottom: 25px;
    color:#4B0082 ;
    text-transform: uppercase;
    text-align: center;
}
.container .form {
    width: 100%;
}
.container .form .input_field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;

}
.container .form .input_field label{
    width: 200px;
    margin-right: 10px;
    font-size: 18px;
    
}
.container .form .input_field .input{
    width: 100%;
    outline: none;
    border: 2px solid #4B0082;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.5s ease;
}
.container .form .input_field .input :focus{
    border: 2px solid #8B008B;
    border-color: #007bff;

}
.container .form.form-control-file{
    border-color: #007bff;
}
.container .form .btn 
{
    width: 100%;
    padding: 6px 10px;
    font-size: 20px;
    border: 0;
    background: #4B0082;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}
.container .form :last-child
{
    margin-bottom: 0;
}

.container .btn:hover
{
    background: purple;
}